/* General */

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

a, a:active, a:hover {
    text-decoration: none;
    color: inherit;
}

/* Main app */

.app {}

.container {
    width: 100%;
    max-width: 800px;
    margin: 20px;
    margin: 0 auto;
}

/*  Header Section  */

header {
    text-align: center;
    font-family: 'Grandstander', cursive;
    font-size: 16px;
}

header img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

header h1 {
    display: inline-block;
    margin-bottom: 0;
    font-size: 3em;
    color: rgb(1, 1, 126);
}

header p {
    font-size: 1.2em;
    font-weight: lighter;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Overlock', cursive;
    margin-bottom: 30px;
}

nav .routes a {
    margin: 0 5px;
}

nav .routes a:active, nav .routes a.active {
    text-decoration: underline;
    font-weight: bold;
}

nav .social img {
    width: 30px;
    height: 30px;
}

/* Posts */

.posts {
    width: 100%;
    font-size: 16px;
}

.post-item {
    width: 100%;
    border: 3px solid black;
    padding: 15px 30px;
    margin: 30px 0;
    cursor: pointer;
    height: 240px;
}

.post-item:hover {
    background-color: #eee;
}

.post-item h3 {
    font-family: 'Grandstander', cursive;
    font-size: 1.8em;
    text-transform: uppercase;
}

.post-item .highlight {
    font-weight: bolder;
}

.post-item .intro {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-item .read-more {
    display: block;
    margin-top: 10px;
    text-align: right;
    text-decoration: underline;
    font-weight: bolder;
}

.post-item .read-more:hover {
    color: rgb(1, 1, 126);
}