/* General */

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

a, a:active, a:hover {
    text-decoration: none;
    color: inherit;
}

.highlight {
    font-weight: bolder;
}

:disabled {
    opacity: 0.3;
}

/* Main app */

.app {
    min-height: 100vh;
}

.container {
    flex: 1;
    width: 90%;
    max-width: 800px;
    margin: 20px;
    margin: 0 auto;
}

/* Banner */

.banner {
    text-align: center;
    font-size: 1.1em;
    min-height: 50px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: turquoise;
}

/*  Header Section  */

header {
    text-align: center;
    font-family: 'Grandstander', cursive;
    font-size: 16px;
    padding: 5px 10px 0;
}

header img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

header h1 {
    display: inline-block;
    margin-bottom: 0;
    font-size: 3em;
    color: rgb(1, 1, 126);
}

header p {
    font-size: 1.2em;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Overlock', cursive;
    margin-bottom: 30px;
}

nav .routes {
    margin-bottom: 10px;
    margin-right: 10px;
}

nav .routes a {
    margin-right: 15px;
}

nav a.danger {
    color: red;
    font-weight: bolder;
}

nav .routes a:active, nav .routes a.active {
    text-decoration: underline;
    font-weight: bold;
}

nav .social img {
    width: 30px;
    height: 30px;
}

/* Posts */

.posts {
    width: 100%;
    font-size: 16px;
}

.posts .no-posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: 1.2em;
}

.posts .no-posts img {
    width: 200px;
    height: 200px;
}

.post-item {
    width: 100%;
    border: 3px solid black;
    padding: 15px 30px;
    margin-bottom: 30px;
    cursor: pointer;
    min-height: 260px;
    box-sizing: border-box;
}

.post-item:hover {
    background-color: #eee;
}

.post-item .image-cont {
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ddd;
    margin-right: 10px;
}

.post-item img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.post-item h3 {
    font-family: 'Grandstander', cursive;
    font-size: 1.8em;
    margin: 20px 0 10px;
    text-transform: uppercase;
}

.post-item .intro {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-item .read-more {
    display: block;
    margin-top: 10px;
    text-align: right;
    text-decoration: underline;
    font-weight: bolder;
}

.post-item .read-more:hover {
    color: rgb(1, 1, 126);
}

/*  Manage posts */

.manage-post .rodal-dialog {
    max-width: 500px;
    width: 90%;
    height: 90vh;
    overflow-y: scroll;
    box-sizing: border-box;
    font-size: 16px;
}

.manage-post .rodal-close:hover {
    transform: scale(1.2);
}

.manage-post .rodal-close:after, .manage-post .rodal-close:before {
    background: red;
}

.manage-post h1 {
    font-size: 1.8em;
    font-family: 'Grandstander', cursive;
}

.manage-post h1::first-letter {
    font-size: 1.3em;
}

.manage-post form {
    padding: 10px;
}

.manage-post label {
    display: block;
    font-size: 1.3em;
}

.manage-post .form-group {
    margin: 10px 0;
}

.manage-post input, .manage-post textarea {
    width: 100%;
    margin: 10px 0 10px;
    box-sizing: border-box;
    padding: 10px;
}

.manage-post input {
    height: 40px;
}

.manage-post textarea {
    min-height: 200px;
}

.manage-post .actions {
    display: flex;
    justify-content: flex-end;
}

.manage-post button {
    border: none;
    border: 2px solid #222;
    border-radius: 3px;
    padding: 8px 20px;
    margin: 8px;
}

.manage-post button:hover {
    transform: scale(1.1)
}

.manage-post button:first-of-type {
    background-color: white;
}

.manage-post button:last-of-type {
    background-color: black;
    color: white
}

/* Loader */

.lds-dual-ring {
    display: inline-block;
    width: 50px;
    height: 54px;
    position: relative;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 40px;
    height: 40px;
    margin: 8px;
    border-radius: 50%;
    border: 3px solid black;
    border-color: black transparent black transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

.lds-dual-ring img {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 25%;
    left: 40%;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Pagination */

.pagination-cont {
    width: 100%;
    display: flex;
    margin: 20px 0 30px;
}

.pagination {
    margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none;
}

.pagination>.active>a {
    background-color: #222;
    border-color: #222;
    color: #fff;
}

.pagination>li>a {
    border: 1px solid #222;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
    font-weight: bolder
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    background-color: #222;
    border-color: #222;
    outline: none;
}

.pagination>li>a, .pagination>li>span {
    color: #222
}

.pagination>li:first-child>a, .pagination>li:first-child>span, .pagination>li:last-child>a, .pagination>li:last-child>span {
    border-radius: unset
}

/* Footer */

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer a {
    font-weight: bolder;
    display: inline-block;
    transition: transform 0.5s ease-in-out;
}

footer a:hover {
    transform: rotate(360deg);
}

@media only screen and (max-width: 600px) {
    .post-item .header {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media only screen and (max-width: 500px) {
    header {
        font-size: 14px;
    }
    header p {
        font-weight: 400;
    }
    header .routes {
        font-size: 1.2em;
        margin: 10px 0 20px;
    }
}