/* 
 *
 *
  General 
 *
 *
 */

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

a, a:active, a:hover {
    text-decoration: none;
    color: inherit;
}

.highlight {
    font-weight: bolder;
}

:disabled {
    opacity: 0.3;
}

button {
    font-family: inherit;
}

/* 
 *
 *
  Main app 
 *
 *
 */

.app {
    min-height: 100vh;
}

.container {
    flex: 1;
    width: 90%;
    max-width: 800px;
    margin: 20px;
    margin: 0 auto;
}

/* 
 *
 *
  Banner 
 *
 *
 */

.banner {
    text-align: center;
    font-size: 1.1em;
    min-height: 50px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gold;
}

/* 
 *
 *
   .app-Header Section  
 *
 *
  */

.app-header {
    text-align: center;
    font-family: 'Grandstander', cursive;
    font-size: 16px;
    padding: 5px 10px 0;
}

.app-header img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.app-header h1 {
    display: inline-block;
    margin-bottom: 0;
    font-size: 3em;
    color: rgb(1, 1, 126);
}

.app-header p {
    font-size: 1.2em;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Overlock', cursive;
    margin-bottom: 30px;
}

nav .routes {
    margin-bottom: 10px;
    margin-right: 10px;
}

nav .routes a {
    margin-right: 15px;
}

nav a.danger {
    color: red;
    font-weight: bolder;
}

nav .routes a:active, nav .routes a.active {
    text-decoration: underline;
    font-weight: bold;
}

nav .social img {
    width: 30px;
    height: 30px;
}

/* 
 *
 *
  Posts 
 *
 *
 */

.posts {
    width: 100%;
    font-size: 16px;
}

.posts .no-posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: 1.2em;
}

.posts .no-posts img {
    width: 200px;
    height: 200px;
}

.post-item {
    width: 100%;
    border: 3px solid black;
    padding: 15px 30px;
    margin-bottom: 30px;
    cursor: pointer;
    min-height: 260px;
    box-sizing: border-box;
}

.post-item:hover {
    background-color: #eee;
}

.post-item .image-cont {
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ddd;
    margin-right: 10px;
}

.post-item img.author {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.post-item h3 {
    font-family: 'Grandstander', cursive;
    font-size: 1.8em;
    margin: 20px 0 10px;
    text-transform: uppercase;
}

.post-item .intro {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-item .intro * {
    font-weight: normal;
    margin: 0;
    font-size: inherit;
    color: black;
}

.post-item .read-more {
    display: block;
    margin-top: 10px;
    text-align: right;
    text-decoration: underline;
    font-weight: bolder;
}

/* 
 *
 *
   Manage posts 
 *
 *
 */

.manage-post h1 {
    font-size: 1.8em;
    font-family: 'Grandstander', cursive;
}

.manage-post h1::first-letter {
    font-size: 1.3em;
}

.manage-post form {
    padding: 10px;
}

.manage-post label {
    display: block;
    font-size: 1.3em;
    margin-bottom: 10px;
}

.manage-post .form-group {
    margin: 10px 0 20px;
}

.manage-post input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.manage-post input {
    height: 40px;
}

.manage-post .actions {
    display: flex;
    justify-content: flex-end;
}

.manage-post .actions button {
    border: none;
    border: 2px solid #222;
    border-radius: 3px;
    padding: 8px 20px;
    margin: 8px;
    width: auto;
}

.manage-post .actions button:hover:not(:disabled) {
    transform: scale(1.1)
}

.manage-post .actions button:first-of-type {
    background-color: white;
}

.manage-post .actions button:last-of-type {
    background-color: black;
    color: white
}

/* 
 *
 *
  Post page 
 *
 *
 */

.post-page {
    font-size: 16px;
    margin-bottom: 80px;
}

.post-page.no-post img {
    width: 35%;
}

.post-page.no-post p {
    font-size: 1.2em;
}

.post-page header {
    margin-bottom: 40px;
}

.post-page header>div {
    margin-bottom: 30px;
}

.post-page header .image-cont {
    width: 60px;
    min-width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ddd;
    margin-right: 10px;
}

.post-page img {
    width: 100%;
    height: 100%;
}

.post-page .user {
    border-radius: 50%;
    object-fit: cover;
}

.post-page header p {
    margin: 2px 0;
}

.post-page .actions {
    width: auto;
}

.post-page button {
    width: 40px;
    background: transparent;
    border: none;
    margin-right: 15px;
    cursor: pointer;
}

.post-page h1.original {
    font-family: 'Grandstander', cursive;
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.post-page section {
    margin: 20px 0;
}

/* Style post elements */

.post-page .content {
    line-height: 25px;
}

.post-page .content h1 {
    font-size: 2em;
}

.post-page .content h2 {
    font-size: 1.5em;
}

.post-page .content h3 {
    font-size: 1.1em;
}

.post-page .content img {
    max-width: 100% !important;
    height: auto !important;
}

.post-page .content a {
    color: rgb(1, 1, 126);
}

.post-page .content a:hover {
    text-decoration: underline;
}

.post-page .content img[style*="left"] {
    margin: 0 20px 20px 0 !important;
}

.post-page .content img[style*="right"] {
    margin: 0 0 20px 20px !important;
}

/* End style post elements */

.post-page .comments {
    margin-top: 30px;
    border-top: 1px solid #ddd;
}

.post-page .comments .image-cont {
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ddd;
    margin-right: 10px;
}

.post-page input {
    width: 100%;
    padding: 5px 10px;
}

.post-page .comment-box {
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.post-page .comment-box>div:nth-of-type(2) {
    flex: 1;
}

.post-page .comment-box p {
    margin: 5px;
}

.post-page .comment-box .info {
    font-weight: bolder;
}

.post-page .comment-box small {
    font-weight: lighter;
    font-size: 0.7em;
    margin-left: 5px;
    margin-right: 10px;
}

.post-page .comment-box mark {
    display: inline-block;
    font-size: 0.8em;
    font-weight: lighter;
    font-family: sans-serif;
    background-color: rgb(28, 28, 223);
    color: white;
    padding: 2px 4px;
    border-radius: 1px;
}

.post-page .comment-box .comment {
    font-size: 0.9em;
}

.post-page .comments .icon {
    width: 12px;
    height: 15px;
    cursor: pointer;
}

.post-page .load {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.post-page .load button {
    width: 200px;
    padding: 10px 15px;
    background-color: rgb(1, 1, 97);
    color: white;
    border-radius: 4px;
    font-family: inherit;
    font-weight: bolder;
    font-size: 0.9em;
}

/* 
 *
 *
  Confirm Delete 
 *
 *
 */

.confirm-delete .body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.confirm-delete .body>* {
    margin-bottom: 0px;
}

.confirm-delete span {
    font-size: 4em;
    color: red;
}

.confirm-delete h2 {
    font-size: 2em;
}

.confirm-delete .actions {
    margin-top: 20px;
}

.confirm-delete .actions button {
    color: white;
    padding: 10px 30px;
    width: auto;
    font-size: 1em;
    font-weight: bolder;
}

.confirm-delete button.yes {
    background-color: rgb(72, 236, 72);
}

.confirm-delete button.no {
    background-color: rgb(241, 66, 66);
}

/* 
 *
 *
  Rodal generic styles 
 *
 *
 */

.rodal-dialog {
    max-width: 800px;
    width: 90%;
    height: 90vh;
    overflow-y: scroll;
    box-sizing: border-box;
    font-size: 16px;
}

.rodal-close:hover {
    transform: scale(1.2);
}

.rodal-close:after, .rodal-close:before {
    background: red;
}

/* 
 *
 *
  Loader 
 *
 *
 */

.lds-dual-ring {
    display: inline-block;
    width: 50px;
    height: 54px;
    position: relative;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 40px;
    height: 40px;
    margin: 8px;
    border-radius: 50%;
    border: 3px solid black;
    border-color: black transparent black transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

.lds-dual-ring img {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 25%;
    left: 40%;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* 
 *
 *
  Pagination 
 *
 *
 */

.pagination-cont {
    width: 100%;
    display: flex;
    margin: 20px 0 30px;
}

.pagination {
    margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none;
}

.pagination>.active>a {
    background-color: #222;
    border-color: #222;
    color: #fff;
}

.pagination>li>a {
    border: 1px solid #222;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
    font-weight: bolder
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    background-color: #222;
    border-color: #222;
    outline: none;
}

.pagination>li>a, .pagination>li>span {
    color: #222
}

.pagination>li:first-child>a, .pagination>li:first-child>span, .pagination>li:last-child>a, .pagination>li:last-child>span {
    border-radius: unset
}

/* 
 *
 *
  Footer 
 *
 *
 */

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer a {
    font-weight: bolder;
    display: inline-block;
}

footer a:hover {
    transition: transform 0.4s ease-in;
    transform: rotateX(360deg);
}

@media only screen and (max-width: 600px) {
    .post-item .header {
        flex-direction: column;
        align-items: flex-start;
    }
    .post-page header .top {
        flex-direction: column;
    }
    .post-page .actions {
        order: 1;
        margin-bottom: 10px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .post-page .top>div:first-of-type {
        order: 2;
        align-self: flex-start;
    }
    .post-page header h2 {
        font-size: 2.5em;
    }
}

@media only screen and (max-width: 500px) {
    .app-header {
        font-size: 14px;
    }
    .app-header p {
        font-weight: 400;
    }
    .app-header .routes {
        font-size: 1.2em;
        margin: 10px 0 20px;
    }
    .post-page .comment-box small {
        display: block;
        margin-left: 0;
        margin-bottom: 5px;
    }
    .post-page .comment-box mark {
        margin-bottom: 10px;
    }
    .post-page .comments .image-cont {
        align-self: flex-start;
        margin-top: 15px;
    }
}